.app-container {
  max-width: 100vh;
  margin: 20px 20px 0 40px;
}

.table {
  width: 100vh;
  margin-top: 20px;
  border-collapse: collapse;
}

.table th, .table td {
  text-align: left;
  padding: 10px;
  border: 1px solid #ccc;
}

.table tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.table th {
  background-color: #f4f4f4;
}


.button {
  margin-right: 10px;
  padding: 8px 12px;
}

.alert {
  background-color: #CD4631;
}


